html {
  height: 100%;
}
body {
  padding-top: 5rem;
  background-image: url("simple4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
